.container {
  text-align: center;
  padding: 40px 0;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 600;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 0 40px;
}

.card {
  background: #fcf2e5;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

.card h2 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.card p {
  margin: 3px;
  font-size: 14px;
  color: #444;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}
